body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1450' height='663' preserveAspectRatio='none' viewBox='0 0 1450 663'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1312%26quot%3b)' fill='none'%3e%3crect width='1450' height='663' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1313%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1522.5 663L0 663 L0 416.25Q29.3 373.05%2c 72.5 402.35Q77.23 334.58%2c 145 339.3Q211.48 284.94%2c 265.83333333333337 351.42Q349.27 314.02%2c 386.66666666666674 397.46Q463.53 353.49%2c 507.5000000000001 430.36Q516.31 366.67%2c 580.0000000000001 375.47Q632.95 307.59%2c 700.8333333333335 360.54Q793.63 332.5%2c 821.6666666666669 425.3Q835.78 366.91%2c 894.1666666666669 381.03Q967.81 333.84%2c 1015.0000000000002 407.48Q1082.49 354.14%2c 1135.8333333333335 421.63Q1154.99 368.29%2c 1208.3333333333335 387.45Q1254.27 360.88%2c 1280.8333333333335 406.82Q1310.92 316.07%2c 1401.6666666666667 346.16Q1480.27 303.93%2c 1522.5 382.53z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1522.4999999999998 663L0 663 L0 458.23Q43.73 381.12%2c 120.83333333333334 424.85Q187.4 370.58%2c 241.66666666666669 437.15Q314.67 437.65%2c 314.1666666666667 510.65Q381.18 456.83%2c 435 523.84Q447.45 415.45%2c 555.8333333333334 427.9Q585.52 385.08%2c 628.3333333333334 414.77Q687 400.94%2c 700.8333333333334 459.61Q756.85 443.13%2c 773.3333333333334 499.15Q783.36 436.67%2c 845.8333333333334 446.7Q901.03 381.06%2c 966.6666666666667 436.26Q1017.07 365.83%2c 1087.5 416.23Q1191.29 399.18%2c 1208.3333333333333 502.97Q1282.27 456.07%2c 1329.1666666666665 530.01Q1354.23 434.24%2c 1449.9999999999998 459.3Q1471.03 407.84%2c 1522.4999999999998 428.87z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1546.6666666666667 663L0 663 L0 541.08Q57.22 525.8%2c 72.5 583.02Q106.56 496.25%2c 193.33333333333334 530.31Q241.09 505.57%2c 265.83333333333337 553.33Q280.76 495.75%2c 338.33333333333337 510.68Q382.32 482.16%2c 410.83333333333337 526.15Q456.82 499.63%2c 483.33333333333337 545.62Q546.03 535.82%2c 555.8333333333334 598.51Q598.25 520.1%2c 676.6666666666667 562.52Q721.27 486.29%2c 797.5000000000001 530.89Q826.29 487.18%2c 870.0000000000001 515.97Q972.75 497.88%2c 990.8333333333335 600.63Q1003.44 540.74%2c 1063.3333333333335 553.35Q1088.92 506.43%2c 1135.8333333333335 532.02Q1157.38 481.07%2c 1208.3333333333335 502.62Q1253.14 474.93%2c 1280.8333333333335 519.73Q1340.81 507.21%2c 1353.3333333333335 567.19Q1394.61 535.97%2c 1425.8333333333335 577.25Q1497.59 528.17%2c 1546.6666666666667 599.93z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1474.1666666666667 663L0 663 L0 611.76Q32.86 572.12%2c 72.5 604.98Q119.27 579.25%2c 145 626.03Q160.53 569.06%2c 217.5 584.59Q288.9 535.15%2c 338.33333333333337 606.55Q401.01 596.72%2c 410.83333333333337 659.4Q415.01 591.08%2c 483.33333333333337 595.25Q512.87 552.29%2c 555.8333333333334 581.82Q650.35 555.51%2c 676.6666666666667 650.03Q703.77 604.63%2c 749.1666666666667 631.73Q762.15 572.22%2c 821.6666666666667 585.2Q863.21 554.25%2c 894.1666666666667 595.79Q998.07 578.86%2c 1015.0000000000001 682.77Q1054.8 601.73%2c 1135.8333333333335 641.53Q1181.33 614.53%2c 1208.3333333333335 660.03Q1242.17 573.03%2c 1329.1666666666667 606.87Q1352.35 557.55%2c 1401.6666666666667 580.73Q1457.26 563.83%2c 1474.1666666666667 619.42z' fill='rgba(57%2c 124%2c 208%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1312'%3e%3crect width='1450' height='663' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1313'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 30px;
    font-size: 18px;
    font-family: arial;
}

.navbar ul {
    overflow: auto;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 160px;
    margin-bottom: 250px;
}

.horizon-logo {
    width: 212.8px;
}

.about-heading {
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 32px;
    margin-left: 28px;
}

.about-us-desc {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 32px;
    width: 240px;
}

.iste-wrapper {
    align-items: center;
    color: white;
    display: flex;
}

.iste-desc {
    width: 900px;
    height: 200px;
    line-height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.iste-logo {
    display: flex;
    justify-content: flex-end;
    width: 361.75px;
}

.iste-logo-img {
    width: 250px;
}